<app-tutor-nav></app-tutor-nav>
<main>
    <div class="section topsec mt-5">
        <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade ms-5 mt-5" data-bs-ride="carousel">
            <div class="carousel-inner mt-5">
                <div class="carousel-item active">
                    <h1>Be Reached</h1>
                </div>
                <div class="carousel-item">
                    <h1>Be Hired</h1>
                </div>
                <div class="carousel-item">
                    <h1>Be Promoted</h1>
                </div>
                <div class="carousel-item">
                    <h1>Get Advertised From Us</h1>
                </div>
            </div>
        </div>
    </div>

    <section>

    </section>
</main>