<div id="sierraCarousel" class="carousel slide" data-bs-ride="carousel">
    <app-navigation></app-navigation>
    <div class="carousel-inner">
        <!-- Carousel Item -->
        <div class="carousel-item active">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col lftTxt">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3 class="animate-charcter">Skhole</h3>
                                    <p>Let's make your future...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">sd</div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="sierraCarousel" class="carousel slide" data-bs-ride="carousel">
    <app-navigation></app-navigation>
    <div class="carousel-inner">
        <!-- Carousel Item -->
        <div class="carousel-item active">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col lftTxt about">
                        Welcome to Skhole, where education meets innovation! Skhole is a cutting-edge online learning and teaching platform designed to empower educators and students alike. Our mission is to bridge the gap between teaching and learning by providing a seamless,
                        interactive, and accessible digital environment.<br> At Skhole, we believe in fostering an educational ecosystem that adapts to the needs of the modern learner. With an array of powerful tools and features,
                        we strive to create an engaging experience that inspires growth and success for everyone involved.
                    </div>
                    <div class="col">sd</div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="sierraCarousel" class="carousel slide" data-bs-ride="carousel">
    <app-navigation></app-navigation>
    <div class="carousel-inner">
        <!-- Carousel Item -->
        <div class="carousel-item active">
            <div class="carousel-caption">
                <div class="row">
                    <strong>What We Offer</strong><br>
                    <div class="col lftTxt about">
                        On-Demand Video Lessons Teachers can upload pre-recorded lessons, allowing students the flexibility to learn at their own pace. Live Class Streaming Experience real-time interaction between teachers and students, recreating the energy and engagement of
                        a traditional classroom. Scheduled Meetings Plan and organize lessons with ease, ensuring clarity and consistency for both educators and learners. Dedicated Accounts for Teachers & Students Tailored experiences for each role, addressing
                        the unique needs of both groups. </div>
                    <div class="col">sd</div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="sierraCarousel" class="carousel slide" data-bs-ride="carousel">
    <app-navigation></app-navigation>
    <div class="carousel-inner">
        <!-- Carousel Item -->
        <div class="carousel-item active">
            <div class="carousel-caption">
                <div class="row">
                    <strong>Our Vision</strong><br>
                    <div class="col lftTxt about">
                        Our Vision At Skhole, we envision a world where education transcends boundaries and barriers. Whether you’re an instructor aiming to inspire or a learner chasing your goals, our platform is your partner in creating a brighter future. Join us at Skhole
                        – where education becomes interactive, accessible, and future-ready! Together, let’s redefine learning.</div>
                    <div class="col">sd</div>
                </div>
            </div>
        </div>
    </div>

</div>